* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: #006110;
    margin-left: 7%;
}

#subtitulo {
    font-family: sans-serif;
    color: #006110;
    margin-left: 10%;
}

.voltar {
    font-size: 1.2em;
    background: #429d47;
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    text-decoration: none;
    padding: 0.2em 0.6em;
    position: absolute;
    top: 93%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.voltar:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.voltar a {
    text-decoration: none;
    color: #FFFFFF;
}


fieldset {
    border: 0;
}

body {
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    color: #429d47;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input,
select,
textarea,
button,
a {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #429d47;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="password"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #429d47;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #e0e0f8;
}

.fa-eye {
    cursor: pointer;
}

.fa-eye:hover {
    color: #ccbbff;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#msgSuccess {
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

.botao {
    font-size: 1.2em;
    background: #429d47;
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 93%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.botao:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

#check {
    display: inline-block;
}