* {
    padding: 0;
    margin: 0;
}

header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #006110;
    padding-bottom: 2%;
}

.navbar {
    font-size: 1.2rem;
    height: 100px;
    top: 0;
    z-index: 999;
}

.navbar-container {
    height: 80px;
    max-width: 1500px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar-logo {
    align-items: center;
    color: #111;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    justify-self: start;
    margin-left: 1.5rem;
    text-decoration: none;
}

.nav-logo {
    height: 120px;
    width: 200px;
    border: none;
}

.menu-icon,
.nav-links-mobile {
    display: none;
}

.fa-bars {
    color: #111;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: end;
    list-style: none;
    margin-right: 2rem;
    text-align: center;
    width: 50%;
}

.nav-links:hover {
    background-color: #006110;
    color: #fff;
    border-radius: 10px;
}

.active-link {
    color: #19191b;
    font-weight: 700;
}

.nav-links {
    align-items: center;
    color: #696871;
    display: flex;
    font-size: 1rem;
    height: 100%;
    padding: 0.5rem 1rem;
    position: relative;
    text-decoration: none;
}

.btn--medium {
    font-size: 14px;
    padding: 8px 20px;
}

.btn--outline {
    font-weight: 700;
    background-color: #006110;
    color: #fff;
    padding: 8px 20px;
    transition: all .3s ease-out;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn--outline:hover {
    background-color: #fff;
    border: 2px solid #006110;
    color: #006110;
}


#titulo {
    font-family: sans-serif;
    color: #006110;
    display: flex;
    justify-content: center;
}

#subtitulo {
    font-family: sans-serif;
    color: #006110;
    display: flex;
    justify-content: center;
    margin-top: .5%;
    padding-bottom: 2%;
}

hr {
    position: relative;
    margin-top: 1%;
}

body {
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    color: #429d47;
    margin-top: 2%;
    justify-content: center;
}

input,
select,
textarea,
button,
a {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #429d47;
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
}

fieldset input {
    position: relative;
    margin-left: 45%;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #e0e0f8;
}

.botao {
    font-size: 1.2em;
    background: #429d47;
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    top: 40%;
    margin-left: 47.5%;
}

.botao:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    cursor: pointer;
}

.fa-eye {
    position: absolute;
    cursor: pointer;
}

.fa-eye:hover {
    color: #ccbbff;
}

.cadastro a {
    font-size: 1.2em;
    background: #429d47;
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    top: 40%;
    width: 15%;
    margin-left: 43%;
}

.cadastro a:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    cursor: pointer;
}

.cadastro p {
    font-size: 1.2em;
    color: #429d47;
    margin-bottom: .5%;
    display: flex;
    justify-content: center;
    top: 40%;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}